.sable {
    background-color: #000;
    height: 440px;
    position: relative;
    width: 32px;
}

.sable::after {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    bottom: 118px;
    content: '';
    height: 16px;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.sable::before {
    background-color: #3c3c3c;
    bottom: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    content: '';
    height: 150px;
    position: absolute;
    width: 100%;
    z-index: 10;
}


.sable span{
    background-color: #fff;
    border-radius: 50%;
    bottom: 10px;
    cursor: pointer;
    height: 16px;
    left: 8px;
    margin: auto;
    position: absolute;
    width: 16px;
    z-index: 10;
}

.sable span.active ~ .laser {
    transform: scaleY(1);
}

.sable .laser {
    background-color: #fff;
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.6);
    bottom: 140px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 300px;
    left: 8px;
    position: absolute;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform  0.5s ease;
    width: 16px;
}

.sable .laser.laser-red {
    background-color: #f62323;
    box-shadow: 0 0 16px rgba(255, 19, 19, 0.6);  
}

.sable .laser.laser-blue {
    background-color: #4a23f6;
    box-shadow: 0 0 16px rgba(62, 19, 255, 0.6);     
}

.sable .laser.laser-yellow {
    background-color: #f6e823;
    box-shadow: 0 0 16px rgba(255, 251, 19, 0.6);       
}

.sable .laser.laser-green {
    background-color: #3cf623;
    box-shadow: 0 0 16px rgba(19, 255, 19, 0.6);     
}